.feedback {
    padding: 32px 0;
    background-color: $color-gray-5;
    &-list {
        margin-top: 20px;
    }
    &-item {
        border: 1px solid $color-gray-5;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
        margin: 0 6px;
        padding: 32px;
        min-height: 260px;
        height: 100%;
    }
    &-user {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 18px;
        }
        p {
            font-size: 16px;
            font-weight: $fw-bold-1;
            line-height: $line-height-0;
        }
    }
    .slick-track {
        padding-bottom: 2px;
    }
}
