.intro {
    background: linear-gradient(to right, $color-purple, $color-red-0);
    &-container {
        margin-top: 0;
        margin-bottom: 24px;
    }
    &-item {
        padding: 20px 5px;
    }
    &-item:first-child {
        padding-left: 0;
    }
    &-icon i {
        @include styleText(47px, $color-white-0, $fw-bold);
        margin-right: 16px;
        margin-top: -2px;
    }
    &-content {
        p:first-child {
            @include styleText($fs-0 + 2, $color-white-0, $fw-bold);
        }
        p:last-child {
            @include styleText($fs-0, $color-white-0, $fw-normal);
        }
    }
    @include responsive("extra-large") {
        &-icon {
            display: none;
        }
        &-content {
            text-align: center;
        }
    }
}
