.services {
    margin-bottom: 16px;
    background-color: $color-gray-1;
    padding: 24px 0;
    &-item {
        margin-right: 16px;
        display: flex !important;
        align-items: flex-start;
        height: auto;
        padding: 24px;
        background-color: $color-white-0;
    }
    &-item:last-child {
        margin-right: 2px;
    }
    &-icon {
        margin-right: 16px;
        width: 74px;
        height: 42px;
        img {
            object-fit: cover;
        }
    }
    &-heading {
        font-size: 17px;
        margin-bottom: 4px;
    }
    &-text {
        font-size: 15px;
        color: #686f7a;
    }
    .slick-track {
        display: flex;
    }
}
